/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #060606;
  --second-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Inter', sans-serif;
  --biggest-font-size: 50px;
  --h1-font-size: 50px;
  --h2-font-size: 40px;
  --h3-font-size: 20px;
  --normal-font-size: 16px;
  --small-font-size: 12px;

  /*========== Font weight ==========*/
  --font-regular: 500;
  --font-bold: 700;
  --font-extrabold: 800;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 50px;
    --h1-font-size: 50px;
    --h2-font-size: 30px;
    --normal-font-size: 16px;
    --small-font-size: 12px;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--first-color);
  transition: .3s; /* For animation dark mode */
}

h1 {
  color: var(--first-color);
  font-weight: var(--font-bold);
  line-height: 60px;
}
h2 {
  color: var(--first-color);
}
h3 {
  color: var(--first-color);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}

/*=============== THEME ===============*/


/*========== Variables Dark theme ==========*/


/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1140px;
  margin: auto ;
  padding: 0 15px 0 15px;
}


.main {
  overflow: hidden; /* For the animations ScrollReveal*/
}

/*=============== HEADER & NAV ===============*/

.header__nav {
  padding: 30px 0 30px;
  background-color: var(--second-color);
}
.header__ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__li {
  display: flex;
}
.header__link {
  text-transform: uppercase;
  position: relative;
  color: var(--first-color);
}
.header__link::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -3px;
  background-color: black;
}
.header__link:hover::after {
  width: 100%;
  transition: width .2s ease;
}

/* ====================   HOME ======================= */
.home {
  background-image: url('/assets/img/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.home__wrapper {
  padding: 202px 0 202px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.home__text {
  width: 450px;
  max-width: 100%;
}
.home__text-title {
  text-transform: uppercase;
  color: var(--second-color);
  font-size: var(--h1-font-size);
}
.home__text-subtitle {
  color: var(--second-color);
  font-size: var(--small-font-size);
  line-height: 120.52%;
  letter-spacing: 0.05em;
  margin: 24px 0 28px;
}
.btn {
  max-width: 100%;
  color: var(--second-color);
  font-weight: var(--font-extrabold);
  text-transform: uppercase;
  display: block;
}
.home__text-btn {
  position: relative;
  width: 270px;
  padding: 21px 0 21px;
  line-height: 120.52%;
  letter-spacing: 0.05em;
  text-align: center;
  border: 1px solid #885FFF;
  z-index: 1;
}
.home__text-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(92.83deg, #885FFF 0%, #BB65FF 100%);
  z-index: -1;
}

.home__text-btn:hover {
  outline: 1px solid #546FFF;
}
.home__text-btn:hover::before {
  transition: all .3s ease;
  opacity: 0;
}
.home__icons {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  z-index: 1;
}
.home__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1px;
} 
.home__icon-img:hover {
  transform: scale(1.2);
}
.icon-youtube::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 15px;
  background-color: #fff;
  top: -22px;
}
.icon-youtube::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 15px;
  background-color: #fff;
  top: 62px;
}
.icon-vk::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 256px;
  background-color: #fff;
  top: -260px;
}
.icon-telegram::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 256px;
  background-color: #fff;
  top: 60px;
}


/*=============== PORTFOLIO ===============*/
.portfolio {
  margin: 80px 0 130px;
}
.portfolio__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  line-height: 120.52%;
  text-transform: uppercase;
}
.portfolio__design {
  color: var(--first-color);
  font-size: var(--h3-font-size);
  line-height: 120.52%;
  text-transform: uppercase;
  margin: 50px 0 30px;
}
.swiper-button-prev {
  width: 60px;
  height: 235px; 
  background: linear-gradient(92.83deg, #885FFF 0%, #BB65FF 100%);
  top:0;
  left: 0;
  bottom: 0;
}

.swiper-button-next {
  width: 60px;
  height: 235px;
  background: linear-gradient(92.83deg, #885FFF 0%, #BB65FF 100%);
  top:0;
  right: 0;
  bottom: 0;
}
.swiper-button-next::after {
  content: url('/assets/img/arrow2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-button-prev::after {
  content: url('/assets/img/arrow1.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio-swiper {
  overflow: hidden;
  position: relative;
  width: 1170px;
  max-width: 100%;
}
.portfolio-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 209px;
  max-height: 100%;
}
.portfolio-slide {
  flex-shrink: 0;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
}
.portfolio-slide img {
  height: 209px;
}
.graph-design {
  margin: 130px 0 30px;
}
/*=============== SERVICES ===============*/
.services {
  margin: 0 0 80px;
}
.services__title {
  text-transform: uppercase;
  font-size: var(--h2-font-size);
  color: var(--first-color);
}
.services__subtitle {
  text-transform: uppercase;
  font-size: 20px;
  color: var(--first-color);
  margin: 50px 0 30px;
}
.services__items {
  display: flex;
  align-items: center;
  gap: 30px;
}
.services__item {
  position: relative;
  width: 370px;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
}
.services__item:hover {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
}
.services__item-title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0 30px;
}
.services__item-items {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin: 0 0 30px 22px;
}
.item-text {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: var(--small-font-size);
  color: var(--first-color);
  text-transform: uppercase;
}
.item-text::before {
  content: '';
  display: block;
  border-radius: 50px;
  width: 14px;
  height: 14px;
  background: linear-gradient(135deg, #546FFF 0%, #9D50FF 100%);
}
.services__item-price {
  font-size: 18px;
  color: var(--first-color);
  font-weight: 400;
  margin: 0 0 15px 22px;
}
.services__item-btn {
  position: relative;
  cursor: pointer;
  width: 100%;
  padding: 12px 0;
  color: var(--second-color);
  /* background: linear-gradient(135deg, #546FFF 0%, #9D50FF 100%); */
  border-radius: 0px 0px 5px 5px;
  z-index: 1;
}
 .services__item-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(92.83deg, #885FFF 0%, #BB65FF 100%);
  z-index: -1;
}
.services__item-btn:hover::before {
  background: linear-gradient(92.83deg, #b8a0ff 0%, #9f2ef5 100%);
  transition: all .3s ease;
} 
.item-business {
  gap: 10px;
  margin: 0 0 10px 22px;
}
.business-title {
  margin: 10px 0 15px;
}
/*=============== ORDER ===============*/
.order__item {
  margin: 0 0 121px;
}
.order__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 55px;
}
.order__text-title {
  font-size: var(--normal-font-size);
  color: var(--first-color);
  text-transform: uppercase;
}
.order__text-subtitle {
  font-size: var(--small-font-size);
  color: var(--first-color);
  line-height: 15px;
  margin: 21px 0 116px;
}
.order__item-content {
  display: flex;
  position: relative;
  gap: 30px;
  width: 971px;
  max-width: 100%;
  margin: 0 0 55px;
  /* display: none; */
}
.order__item-content {
  /* display: block; */
}
.order__item-text {
  position: relative;
}
.order__text-down {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.order__text-btn {
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  padding: 19px 0;
  width: 254px;
  max-width: 100%;
  bradius: 5px;
  cursor: pointer;
  z-index: 1;
}
.order__text-btn::before {
  content: '';
  position: absolute;
  border-radius: 5px;
  inset: 0;
  background: linear-gradient(92.83deg, #885FFF 0%, #BB65FF 100%);
  z-index: -1;
}
.order__text-btn:hover {
  color: var(--first-color);
  background: none;
  outline: 1px solid #546FFF ;
}
.order__text-btn:hover::before {
  opacity: 0;
  transition: all .3s ease;
} 

.order__text-price {
  font-size: 18px;
  color: var(--first-color);
  text-transform: uppercase;
  font-weight: var(--font-bold);
}
.order__item-more {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
  cursor: pointer;
}
.item-more {
  text-transform: uppercase;
}
.order__item-more img {
  width: 49px;
  height: 20px;
  position: absolute;
  top: 33px;
}
.order__item-more:hover .more-img {
  top: 43px;
  transition: top .4s ease-out;
}
/*=============== ABOUT ===============*/

.about__main {
  margin: 0 0 56px;
  max-width: 100%;
}
.about__title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin: 0 0 50px;
  text-transform: uppercase;
}
.about__content {
  display: flex;
  align-items: center;
  margin: 0 0 55px;
}
.about__text-title {
  font-size: 20px;
  text-transform: uppercase;
  color: var(--first-color);
  margin:  0 0 23px;
}
.about__content-video {
  flex: 1 1 470px;
}

.about__content-text {
  flex: 1 1 570px;
  margin: 0 50px 0 30px;
}
.about__text-subtitle {
  font-size: var(--small-font-size);
  color: var(--first-color);
  line-height: 15px;
  font-weight: var(--font-regular);
}
.about__text-subtitle br {
  margin: 0 0 12px;
}
.about__content-icons {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1 1 51px;
}

.about__work {
  margin: 0 0 80px;
}

.about__work-title {
  font-size: 20px;
  color: var(--first-color);
  text-transform: uppercase;
  margin: 0 0 50px;
}
.about__step-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__step-wrapper {
  display: flex;
  flex-direction: column;


}
.about__step {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 91px;
  height: 91px;
  border-radius: 50%;
  background: var(--second-color);
  transition: background .3s ease;
  /* margin:  0 0 10px; */
}
.about__step:hover {
  background: linear-gradient(135deg, #546FFF 0%, #9D50FF 100%);
}
.about__step:hover .about__step-number {
  color: var(--second-color);
  transition: color .3s ease;
}
.about__step::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    margin: -1px; 
    border-radius: inherit; 
    background: linear-gradient(135deg, #546FFF 0%, #9D50FF 100%);
}
.about__step-number {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  color:  #546FFF ;
}
.about__step-text {
  text-align: center;
  font-size: var(--normal-font-size);
  color: #546FFF;
  text-transform: uppercase;
  font-weight: var(--font-bold);
  margin: 10px 0 0;
}
.about__step-line {
  position: absolute;
  width: 1072px;
  max-width: 100%;
  height: 1px;
  background: linear-gradient(135deg, #546FFF 0%, #9D50FF 100%);
  margin: 0 0 30px 9px;
}
/*=============== REVIEW ===============*/
.review {
  margin: 0 0 50px;
}
.review__title {
  margin: 0 0 50px;
}
.review-slide {
  padding: 30px;
  position: relative;
}
.review-slide_text {
  font-weight: 400;
  font-size: var(--small-font-size);
  font-weight: var(--font-regular);
  line-height: 15px;
letter-spacing: 0.1em;
}
.review-slide_name {
  font-weight: var(--font-bold);
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.review__btn {
  position: relative;
  font-size: var(--normal-font-size);
  width: 270px;
  max-width: 100%;
  padding: 20px 0;
  margin: 100px 0 0;
  cursor: pointer;
  z-index: 1;
}
.review__btn::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(92.83deg, #885FFF 0%, #BB65FF 100%);
  z-index: -1;
}
.review__btn:hover {
  outline: 1px solid #546FFF ;
  color: var(--first-color);
  background: none;
}
.review__btn:hover::before {
  opacity: 0;
  transition: all .3s ease;
} 

/*=============== CONTACT ===============*/
.contact {
  margin: 0 0 80px;
}
.contact__wrapper {
  display: flex;
  justify-content: space-between;
}
.contact__title {
  text-transform: uppercase;
  color: var(--first-color);
  font-size: var(--h2-font-size);
  margin: 0 0 50px;
}
.input-text {
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  font-weight: var(--font-bold);
  font-style: normal;
}
.contact__address {
  user-select: initial;
}
.contact__address > div > p {
  font-style: normal;
  margin: 0 0 24px;
}
.contact__address-phone, .contact__address-email {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 14px 33px;
  background: var(--second-color);
  width: 100%;
  margin: 24px 0 50px;
}
.phone__contact {
  font-style: normal;
  font-size: var(--h3-font-size);
  color: var(--first-color);
}
.address__social-wrapper {
  display: flex;
  gap: 24px;
}

.contact__form {
  position: relative;
  width: 670px;
  max-width: 100%;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}
.contact__form-title {
  font-size: 18px;
  padding: 19px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--font-bold);
}
.contact__form-title::after {
  content: '';
  display: block;
  margin-top: 19px;
  width: 100%;
  height: 2px;
  background: var(--first-color);
}
.contact__form-wrapper {
  padding: 30px 20px;
  display: flex;
  gap: 30px;
}
.contact__form-left {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.contact__form-right {
  display: flex;
  flex-direction: column;
  gap: 57px;
}
.contact__form-group {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.choose__group-wrapper  {
  display: flex;
  gap: 46px;
  margin: 16px 0 0;
}
.contact__group {
  gap: 10px;
}
.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.check {
  padding-left: 28px;
}
.check__box {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: -28px;
  overflow: hidden;
  background-color: var(--second-color);
  border-radius: 50%;
  border: 0.5px solid var(--first-color);
}
.check__input:checked + .check__box {
  border: none;
  background: linear-gradient(92.83deg, #885FFF 0%, #BB65FF 100%);
}
.check__input:focus + .check__box {
  box-shadow:
      0 0 0 0.1em #4A90E2,  
      0 0 0 0.2em #885FFF;
}
.check__input:disabled + .check__box {
  box-shadow: 0 0 0 0.1em #9B9B9B;
}

.check__input:checked:disabled + .check__box {
  background-color: #9B9B9B;
}
.contact__form-comment {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.input {
  width: 240px;
  max-width: 100%;
  border: 0.5px solid var(--first-color);
  padding: 11px 0 11px 13px;
}
.contact__form-btn {
  cursor: pointer;
  position: relative;
  margin: 0 auto  30px;
  padding: 19px 0;
  width: 320px;
  max-width: 100%;
  line-height: 120.52%;
  letter-spacing: 0.05em;
  z-index: 1;
}
.contact__form-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(92.83deg, #885FFF 0%, #BB65FF 100%);
  z-index: -1;
}
.contact__form-btn:hover {
  color: var(--first-color);
  background: none;
  outline: 1px solid #546FFF ;
}
.contact__form-btn:hover::before {
  opacity: 0;
  transition: all .3s ease;
} 
/*=============== PARTNERS ===============*/
.partners {
  margin: 0 0 80px;
}
.partners__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  text-transform: uppercase;
  margin: 0 0 50px;
}
.partners__img {
  display: flex;
  justify-content: space-between;
  background: var(--first-color);
  width: 100%;
  padding: 60px 0;
  position: relative;
}
.partners__img::before {
  content: '';
  display: block;
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background: var(--first-color);
  z-index: -1;
}
.footer {
  position: relative;
  margin: 0 0 51px;
}
.footer::before {
  content: '';
  display: block;
  background: var(--first-color);
  width: 100%;
  height: 1px;
  margin: 0  0 30px;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
} 
.footer__logo {
  text-align: center;
}
.footer__nav {
  margin: 30px 0 80px;
}
.footer__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__items-icon {
  display: flex;
  gap: 24px;
}
.footer__items-politic, footer__items-briph {
  font-size: 14px;
  color: var(--first-color);
}
/*=============== POPUP ===============*/

/* box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .74 ); */
.header__input {
  width: 453px;
  max-width: 100%;
}
.header__popup-text {
  width: 314px;
  max-width: 100%;
  margin: auto ;
  padding: 0 0 18px;
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 15px;
}
.header__popup-btn {
  margin: 40px auto 18px ;
}
.header__popup-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 30px 0;
}
.popup-link {
  color: var(--first-color);
  text-decoration: underline;
}

.services__popup.show, .home__popup.show {
  display: block;
}
/*=============== SCROLL BAR ===============*/
.home__popup {
  top: 0;
  z-index: 12;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: none;
}

.home__popup-wrapper {
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .74 );
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 513px;
  max-width: 100%;
  background: #fff;
  margin: 0 20px;
  z-index: 222222;
}
/*=============== SCROLL UP ===============*/


/* Show Scroll Up*/


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */


/* For 2K & 4K resolutions */
